body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 800px;
    
}
img {
    margin-bottom: 10px;
    width: 250px;
    height: 140px;
    margin-right: 24px;

}
h1 {
    font-size: 16px;
    
}
p{
    font-size: 14px;
    display:block;
    text-align: justify;
    margin-bottom: 50px;

}
.div{
    display: flex;

}